// Header.scss
.header {
    position: relative;
    background-color: white;
    margin: 21px 20px;
    z-index: 100;
  
  
    nav {
      display: flex;
      justify-content: space-between;
      height: 101px;
      background-color: white;
      
      align-items: center;
    
          ul {
            display: flex;
            list-style: none;
            padding-left: 39px;
            
            a{
              text-decoration: none;
              color: var(--primary);
            }

            li{
              padding-right: 20px;
            }
          }
      .fa-xmark, .fa-bars{
          display: none;
        }    
      button {
          height: 2.3rem;
          width: 9.3rem;
          margin-right: 1.3rem;
          font-size: 15px;

          .fa-arrow-right{
            padding-left: 15px;
          }
        }
    }
  }


  @media only screen and (max-width:1024px) {
    .header {
      margin: 0;
    nav{
        flex-direction: row-reverse;
        height: 81px;
      ul{
        position: fixed;
        flex-direction: column ;
        top: 0;
        width: 200px;
        height: 100vh;
        padding: 10px 0px;
        z-index: 2;
        transition: 0.5s;
        transform: translatex(220px);
        background-color: rgba(75, 53, 53, 0.8);

        li{
          text-align: center;
          margin: 25px;
        }
    }

     .fa-xmark, .fa-bars {
      display: block;
      font-size: 24px;
      padding: 1rem;
      cursor: pointer;
    }
    .fa-bars{
      padding-right: 1.5rem;
    }
    .openmenu{
      transform: translatex(20px);
    }
    button{
      margin-left: 1.5rem;
    }
  }
}
}
  